@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto&display=swap');

body{
font-family: "Roboto", "Helvetica", "Sans-serif";
 margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    color: #777;
    line-height: 1.7;
    position: relative;
   
}

.card-title{
    color: #465881;
}

.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

.my-4{
    color: #000;
}

h3{
    color: #000;;
}

h2{
    font-size:1.5rem;
}
/* paragraphs */
.paragraph-bg{
background-color: #fff;

}



/* nav */

.masthead {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("../images/mustang-cobra.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
}

@media only screen and (max-width: 767px){
    .masthead {background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("../images/mustang-mobile.jpeg");}
}





.masthead h1 {
  font-family: 'Varela Round';
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.masthead h2 {
  max-width: 20rem;
  font-size: 3rem!important;
}

@media (min-width: 768px) {
  .masthead h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }

  .masthead-1 {
    height: 40vh;
    padding: 0;
  }

  .masthead h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}

.masthead-1 {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("../img/bg-masthead.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

/* scroll down button */
.circle{
    position: absolute;
   top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    
    width: 80px;
    height:80px;
    text-align: center;
    line-height: 80px;
    font-size: 80px;
    overflow: hidden;
}

.circle .fas {
    color: #fff;
    margin: 0;
    padding: 0;
    animation: animate 2s linear infinite;
}

@keyframes animate 
{
    0%
    {
        transform: translateY(-50px);
        text-shadow: 0 50px 0 #fff;
    }
    20%
    {
        transform: translateY(10px);
        text-shadow: 0 10px 0 #fff;
    }
    40%
    {
        transform: translateY(10px);
        text-shadow: 0 -10px 0 #fff;
    }
    60%
    {
        transform: translateY(10px);
        text-shadow: 0 0px 0 #fff;
    }
    100%
    {
        transform: translateY(100px);
        text-shadow: 0 -50px 0 #fff;
    }
}

.circle::before {
 content: 'SCROLL DOWN';
 position: absolute;
 color: #fff;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 8px;
 left: 10px;
 top: 12px;
}

@media only screen and (min-width: 600px){
    .circle{
        position: relative;
        top: 250px;
    }
}

@media only screen and (max-width: 768px) {
    .circle{
        position: relative;
        top: 200px;
    }
}



/*reviews scroll*/

.circle-reviews{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    width: 60px;
    height:60px;
    text-align: center;
    line-height: 60px;
    font-size: 60px;
    overflow: hidden;
}

.circle-reviews .fas {
    color: #5bc0de;
    margin: 0;
    padding: 0;
    animation: animate 2s linear infinite;
}

@keyframes animate 
{
    0%
    {
        transform: translateY(-50px);
        text-shadow: 0 50px 0 #ff6363;
    }
    20%
    {
        transform: translateY(10px);
        text-shadow: 0 10px 0 #ff6363;
    }
    40%
    {
        transform: translateY(10px);
        text-shadow: 0 -10px 0 #ff6363;
    }
    60%
    {
        transform: translateY(10px);
        text-shadow: 0 0px 0 #ff6363;
    }
    100%
    {
        transform: translateY(100px);
        text-shadow: 0 -50px 0 #ff6363;
    }
}

.circle-reviews:before {
 content: 'SCROLL DOWN';
 position: absolute;
 color: #000;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 8px;
 left: 10px;
 top: 12px;
}

@media only screen and (min-width: 600px){
    .circle-reviews{
        position: relative;
        top: 50px;
    }
}

@media only screen and (max-width: 768px) {
    .circle-reviews{
        position: relative;
        top: 50px;
    }
}


/*What we do */

section{
	padding: 60px 0;
}
section .section-title{
	text-align:center;
	color:#000;
	margin-bottom:50px;
	text-transform:uppercase;
}
#what-we-do{
	background: #fff;
}
#what-we-do .card{
	padding: 1rem!important;
	border: none;
	margin-bottom:1rem;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#what-we-do .card:hover{
	-webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	-moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
#what-we-do .card .card-block{
	padding-left: 50px;
    position: relative;
}
#what-we-do .card .card-block a{
	color: #000!important;
	font-weight:700;
	text-decoration:none;
}
#what-we-do .card .card-block a i{
	display:none;
	
}
#what-we-do .card:hover .card-block a i{
	display:inline-block;
	font-weight:700;
	
}
#what-we-do .card .card-block:before{
	font-family: FontAwesome;
    position: absolute;
    font-size: 39px;
    color: #ff6363;
    left: 0;
	-webkit-transition: -webkit-transform .2s ease-in-out;
    transition:transform .2s ease-in-out;
}
#what-we-do .card .block-1:before{
    content: "\f0e7";
}
#what-we-do .card .block-2:before{
    content: "\f0eb";
}
#what-we-do .card .block-3:before{
    content: "\f00c";
}

#what-we-do .card:hover .card-block:before{
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);	
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}

/*social*/
.social-body{
    background: url('../images/st.jpeg')  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    
}

@media only screen and (max-width: 767px){
    .container-social .icon .iconBx{
    position: relative;
    width: calc(55% - 40px)!important;
    margin: 0 30px 30px 0;
    padding: 0 25px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 4px;
    transition: 0.5s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .07);
}

}


.container-social{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
}

.container-social .icon {
position: relative;
width: 50%;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}

.container-social .icon .iconBx{
    position: relative;
    width: calc(50% - 40px);
    margin: 0 30px 30px 0;
    padding: 0 25px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 4px;
    transition: 0.5s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .07);
}

.container-social .icon .iconBx.active {
    box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
}

.container-social .icon .iconBx img{
    max-width: 100%;
    
    transition: 0.5s;
    transform: scale(0.8);
}

.container-social .icon .iconBx.active img {
    filter: grayscale(0);
    transform: scale(1);
}

.content-social{
    position: relative;
    width: 50%;
    overflow: hidden;
}

.content-social .contentBx {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transform: scale(0);
    opacity: 0;
}

.content-social .contentBx.active {
    transform: scale(1);
    opacity: 1;
    transition-delay: 0.4s;
}

@media only screen and (max-width: 768px){

 .container-1 .icon .iconBx{width: calc(60% - 5px);
 }
  
}


@media only screen and (min-width: 600px) {
    p{
        padding-right: 20px;
    }
}


/*map*/

div#map {min-height: 480px;}

.light{
    color: #fff!important;
}


/* footer */

.text-white{
    color: #fff !important;
}

.blue-text{
    color: #243c4f !important;
}

#button-addon1 {
color: rgb(66, 209, 235);
}

i {
  color: #ff6363;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.form-control.shadow-0:focus {
  box-shadow: none;
}

/* about-page */

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('../images/driving.jpeg') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

/* about-section */

.how-section1{
    margin-top:10px;
    padding: 12%;
}
.how-section1 h4{
    color: #6e6b64;
    font-weight: bold;
    font-size: 30px;
}
.how-section1 .subheading{
    color: #121127;
    font-size: 20px;
}
.how-section1 .row
{
    margin-top: 10%;
}
.how-img 
{
    text-align: center;
}
.how-img img{
    width: 70%;
}

/*map*/

div#map {min-height: 480px;}

.light{
    color: #fff!important;
}

/* reviews img on hover */

.card-img-top:hover {
    
transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 3px solid #ff6363;
    background-color: white;
}

.card-img-top:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #00838d;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.35s ease-out;
}
.card-img-top:hover:before {
    transform: scale(2.15);
  }

  .img-fluid:hover {
    
transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 3px solid #ff6363;
    background-color: white;
}

.img-fluid:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #00838d;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
}
.img-fluid:hover:before {
    transform: scale(2.15);
  }

/* reviews */

.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-reviews {
  font-size: 1rem;
  font-family: 'Oswald', sans-serif;
  background: #f9f9f9;
}



a {
  color: #333;
  text-decoration: none;
}

.container-reviews {
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  padding: 0 2rem;
}

.img-reviews {
  width: 100%;
  
}

.card-reviews {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  background: #f1f1f1;
  margin-bottom: 2rem;
}

.card-reviews h3 {
  margin-bottom: 2rem;
}



.card-reviews > div {
  padding: 2rem;
}

.card-reviews:nth-child(even) img {
  order: 2;
}


.btn-reviews {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 0.8rem 1.8rem;
  margin-top: 2rem;
  cursor: pointer;
}

.btn-reviews:hover {
  opacity: 0.8;
}

@media(max-width:600px) {
  .card-reviews {
    display: block;
  }
}

.review-content{
    margin-top: 50px;
}

.inner{
    overflow: hidden;

}

.inner img{
    transition: all 2.5s ease;
}

.inner:hover img{
    transform: scale(0.8);
}

/*ratings*/

.ratings-body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25vh;
    background: #fff;
}

.rating{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    top: 30px;
    padding-top: 50px;

}

.rating input{
    display: none;
}

.rating label{
    position: relative;
    width: 0;
    height: 100px;
    cursor: pointer;
    transition: 0.5s;
    
    text-align: center;
    opacity: 0;
}

.rating:hover label{
    width: 160px;
    opacity: 0.2;
}

.rating input:hover + label,
.rating input:checked + label {
    
    opacity: 1;
    width: 100px;
}

.rating label h4 {
    color: #fff;
    font-size: 24px;
    padding-top: 10px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 0;
    transform: translateY(-50px) scale(0);
    transition: 0.5s;
}

.rating input:hover + label h4,
.rating input:checked + label h4 {
   
    opacity: 0;
    transform: translateY(0) scale(1);

}

.text-ratings{
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translatex(-50%);
    color: #fff;
    width: 500px;
    font-weight: 600px;
    letter-spacing: 2px;
    text-align: center;
    white-space: nowrap;
    font-size: 36px;
    color: black;
}

.fa-smile{
    color: orange!important;
}

.fa-star {
    color: green!important;
}

.fa-meh{
    color: grey!important;
}
  /* contact page */
.pb-100 {
	padding-bottom: 100px;
}
.pt-100 {
	padding-top: 100px;
}
.mb-100 {
	margin-bottom: 100px;
}
a {
	text-decoration: none;
	color: #333;
	-webkit-transition: .4s;
	transition: .4s;
}
.section-title {
	position: relative;
}
.section-title p {
	font-size: 16px;
	margin-bottom: 5px;
	font-weight: 400;
}
.section-title h4 {
	font-size: 40px;
	font-weight: 600;
	text-transform: capitalize;
	position: relative;
	padding-bottom: 20px;
	display: inline-block;
}
.section-title h4::before {
	position: absolute;
	content: "";
	width: 80px;
	height: 2px;
	background-color: #d8d8d8;
	bottom: 0;
	left: 50%;
	margin-left: -40px;
}
.section-title h4::after {
	position: absolute;
	content: "";
	width: 50px;
	height: 2px;
	background-color: #0000;
	left: 0;
	bottom: 0;
	left: 50%;
	margin-left: -25px;
}
.contact {
	background-image: url("../images/contact-bg.jpeg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	position: relative;
	z-index: 2;
	color: #fff;
}

@media only screen and (max-width: 768px){
    .contact{
        background-image: url("../images/g-wagon.jpeg");
        background-size: cover;
	background-position: center;
	background-attachment: fixed;
	position: relative;
	z-index: 2;
	color: #fff;
    }
}

.contact-form input,
textarea {
	width: 100%;
	border: 1px solid #fff;
	padding: 5px 10px;
	text-transform: capitalize;
	margin-top: 15px;
	background-color: transparent;
	color: #fff;
}
.contact:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #333;
	z-index: -1;
	opacity: .85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
}
.single-contact {
	text-align: left;
	position: relative;
	padding-left: 70px;
	margin-bottom: 50px;
	margin-top: 10px;
}
.single-contact i.fa {
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	background-color: #000;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 3px;
}
.single-contact h5 {
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: 500;
}
.single-contact p {
	font-size: 15px;
	font-weight: 400;
}
.contact-form input[type="submit"] {
	background-color: #fff;
	border: 0px;
	cursor: pointer;
	font-size: 16px;
	-webkit-transition: .4s;
	transition: .4s
}
.contact-form input[type="submit"]:hover {
	background-color: #243c4f;
}
.contact-form input:focus, textarea:focus {
	border-color: #478ac0;
}

/*media*/
.video{
    height: 80vh;
}